@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

ul {
  list-style-type: square;
  li::marker {
    color: #15803d;
    font-size: larger;
  }
}
